.share-video-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.share-video-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.share-video-form .input-group {
  margin-bottom: 15px;
  width: 90%;
}

.share-video-form .input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.share-video-form .input-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.share-video-form .action-button {
  padding: 10px 20px;
  width: 25%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.share-video-form .action-button:hover {
  background-color: #0056b3;
}
