.video-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.video-player {
  margin: 20px 0;
  width: 90%;
  max-width: 1400px;
  display: flex;
  white-space: between;
  flex-direction: row;
  align-items: flex-start;
}

.video-player iframe,
.video-player .lazyload-wrapper {
  height: 350px;
  border-radius: 20px;
  border: none;
}

.video-player iframe {
  width: 100%;
}

.video-player .lazyload-wrapper {
  width: 50%;
}

.video-player .video-details {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 50%;
  text-align: left;
}

.video-player .video-details .video-title {
  color: red;
}

.video-player .video-details .shared-by {
  margin-top: 10px;
  text-transform: lowercase;
}

.video-player h2,
.video-player p {
  margin: 0;
}

.read-more {
  color: #007bff;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .video-player {
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 80%;
    font-size: 14px;
  }

  .video-player iframe,
  .video-player .lazyload-wrapper {
    width: 100%;
    height: calc(100vw * 0.3);
    margin-bottom: 20px;
  }
  .video-player .video-details {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  .video-player {
    font-size: calc(100vw * 0.025);
  }
}

@media (max-width: 480px) {
  .video-player {
    width: 100%;
    font-size: calc(100vw * 0.03);
  }

  .video-player iframe,
  .video-player .lazyload-wrapper {
    height: calc(100vw * 0.5);
  }

  .video-details .description {
    font-size: calc(100vw * 0.035);
  }
}
