.homepage-header {
  background-color: #282c34;
  padding: 20px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.homepage-header img {
  height: 50px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.header-right {
  display: flex;
  align-items: center;

  gap: 20px;
  font-size: 20px;
}

.header-right .action-button {
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 18px;
  height: 45px;
  font-style: bold;
}

.header-right .action-button:hover {
  background-color: #176839;
}

.header-right .yellow-button {
  background-color: #ffd332;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  height: 45px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: bold;
}

.header-right .yellow-button:hover {
  background-color: #c6a322;
}

@media (max-width: 1300px) {
  .homepage-header {
    display: block;
    align-items: center;
    height: 40vh;
    max-height: 270px;
    justify-content: start;
    float: none;
  }

  .homepage-header img {
    width: 70vw;
    max-width: 300px;
    height: auto;
  }

  .header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
